src/main/mule/rtf-tls-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="419c85a4-a2aa-482b-be78-9ad4e81aa490" >
		<tls:key-store type="pkcs12" path="rtf-tls-test.p12" alias="server" keyPassword="mule12345" password="mule12345" />
	</tls:context>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2bd8d06a-51a5-494d-a932-66b01ed39036" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8081" tlsContext="TLS_Context" />
	</http:listener-config>
	<flow name="rtf-tls-testFlow" doc:id="a370a550-bd12-4514-b529-900b510a0609" >
		<http:listener doc:name="Listener" doc:id="cd1476f6-2a20-441a-9d5e-4f2b96f2dadc" config-ref="HTTP_Listener_config" path="/hello-tls" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="5c948998-b6b2-454b-83fa-6d70da52261e" message="#[attributes]"/>
		<set-payload value='#["Hello Gon with TLS"]' doc:name="Set Payload" doc:id="fd5950cf-b079-4709-a8e7-265a7d18a1c4" />
	</flow>
</mule>
